<%- include('layout', { body: null }) %>
<h2>Editar Usuario</h2>
<form action="/edit/<%= usuario.id %>" method="POST">
<label>Nombres: <input type="text" name="Nombres"
value="<%= usuario.nombres %>" required></label> <br>
<label>Apellidos: <input type="text" name="Apellidos"
value="<%= usuario.apellidos %>" required></label><br>
<label>Fecha de Nacimiento: <input type="date" name="Fecha_Nacimiento"
value="<%= new Date(usuario.fecha_nacimiento).toISOString().split('T')[0] %>" required></label><br>
<label>Direccion: <input type="text" name="Direccion"
value="<%= usuario.direccion %>" required></label><br>
<label>Celular: <input type="text" name="Celular"
value="<%= usuario.celular %>" required></label><br>
<label>Correo: <input type="email" name="Correo"
value="<%= usuario.correo %>" required></label><br>

<button type="submit">Actualizar</button>
</form>