<% include('layout', { body: null }) %>
<h2>Lista de Productos</h2>
<table>
<thead>
<tr>
<th>Nombres</th>
<th>Apellidos</th>
<th>Fecha de nacimiento</th>
<th>Direccion</th>
<th>Celular</th>
<th>Correo</th>
<th>Acciones</th>
</tr>
</thead>
<tbody>
<% usuarios.forEach(usuario => { %>
<tr>
<td><%= usuario.nombres %></td>
<td><%= usuario.Apellidos %></td>
<td><%= usuario.fecha_nacimiento %></td>
<td><%= usuario.direccion %></td>
<td><%= usuario.celular %></td>
<td><%= usuario.correo %></td>
<td>
<a href="/edit/<%= usuario.id %>">Editar</a>
<a href="/delete/<%= usuario.id %>">Eliminar</a>
</td>
</tr>
<% }) %>
</tbody>
</table>